<div class="about-pane">
    <div class="left-column">
        <div class="logomark">
            <div class="logomark-inner">
                <img class="logomark-image" src="img/aether.full.logomark.svg">
            </div>
        </div>

        <div class="settings-text">
            <p>
                Aether is a distributed network that creates protected, anonymous and public discussion forums open to everyone.
                <br>
                <a href="http://www.getaether.net">getaether.net</a>
            </p>
            <p>
                Aether is a work of Burak Nehbit, a designer living in New York City.
            </p>
            <div class="profile-link">
                <a href="mailto:burak@nehbit.net">burak@nehbit.net</a>
                <a href="http://twitter.com/nehbit">@nehbit</a>
                <a href="http://nehbit.net">nehbit.net</a>
            </div>
        </div>
    </div>
    <div class="right-column">
        <div class="settings-text">
            <h3>Thanks</h3>
            <h4>Design</h4>
            <p>
                Ken Meier, Juliette Cezzar, Jason Huff, Phoebe Espiritu</em>, Jeremy Zilar, Gary Chou.
            </p>
            <h4>Programming</h4>
            <p>#twisted, #python, channels at freenode, <br>
                specifically lvh, _habnabit, teratorn, dash</p>
            <h3>Colophon</h3>
            <h4>Typefaces</h4>
            <p>
                EbGaramond <span class="italic by-fix">by</span> Georg Duffner,<br>
                Source Sans Pro <span class="italic by-fix">by</span> Paul D. Hunt,<br>
                Oswald <span class="italic by-fix">by</span> Vernon Adams,<br>
                FontAwesome <span class="italic by-fix">by</span> David Gandy,<br>
            </p>
            <h4>Software</h4>
            <p>
                Angular.js, Qt, PyQt, Twisted, SqlAlchemy, SQLite, PyInstaller, OpenSSL, pyOpenSSL, MiniUPNPc, JSONDate, Termcolor, uJSON, Zope.Interface.
            </p>
            <h4>Version</h4>
            <p>Protocol: <em class="numbers">1.0.0</em> Client: <em class="numbers">1.1.0</em></p>
            <p class="ending">
                <span class="italic">Copyright &copy; 2012-2013 Burak Nehbit. All rights reserved.</span>
            </p>
        </div>
    </div>
</div>