<div class="advanced-pane">
    <span class="settings-pane-subtext">If your computer seems to get hot or you see high CPU utilization, you can reduce<br>
         maximum inbound and outbound connection counts. Restart the Aether client to see apply the new values.</span>
     <table>
        <tr>
            <td>
                <div class="defaults-question last-defaults-question">
                    <span class="question-name">Maximum simultaneous inbound connections</span>
                    <span class="question-explanation block-explanation">Maximum number of people that can request posts from your computer at the same time.</span>
                    <div class="textbox-container">
                        <input type="text" class="text-entry text-entry-advanced" ng-model="userProfile.UserDetails.maxInboundCount"
                        maxlength="2">
                    </div>
                </div>
            </td>
        </tr>
         <tr>
            <td>
                <div class="defaults-question">
                    <span class="question-name">Maximum simultaneous outbound connections</span>
                    <span class="question-explanation block-explanation">Maximum number of people your client will try to connect to at the same time.</span>
                    <div class="textbox-container">
                        <input type="text" class="text-entry text-entry-advanced" ng-model="userProfile.UserDetails.maxOutboundCount"
                        maxlength="2">
                    </div>
                </div>
            </td>
        </tr>
         <tr>
            <td>
                <div class="defaults-question">
                    <span class="question-name">Cooldown period</span>
                    <span class="question-explanation block-explanation">Time between each sync request to the remote node.</span>
                    <div class="textbox-container">
                        <input type="text" class="text-entry text-entry-advanced" ng-model="userProfile.UserDetails.cooldown"
                        maxlength="2">
                    </div>
                </div>
            </td>
        </tr>
    </table>
    <div class="settings-ok-button" ng-click="resetAdvanced()">RESET TO DEFAULTS</div>
</div>