<div class="tutorial-pane">
    <div class="tutorial-body">
        <p>Welcome to Aether!</p>

<p>This is a short guide to get you up to speed with Aether. Aether is an app (this one you're running) that you use to participate in community moderated and anonymous boards.</p>

<p>Some terminology: For redditors, a board is a subreddit. A thread is a thread. A post is a... you get the idea. For the non–redditors, a board is essentially a forum, a bunch of threads concerning a certain topic. 'Baseball' could be a topic. It would have a thread about how the Red Sox ...batter ...batted last match (does it show that I know nothing about baseball?) and similar things. Each thread is made of posts. Posts are the main chunks of people submit. You an also create a board or a thread.</p>

<p>Here's a short explanation of the main menu. Remember, you can always hover over stuff and see the names.</p>

<p><img src="img/mainmenu-annotated.png" alt="" class="tutorial-image"></p>

<p>Let's give it a ride. Go to boards ( <i class="fa fa-th-large tutorial-icon"></i> ). At the beginning, you need to pick the boards you want to join. Nobody knows which boards you join, there isn't a members list or anything of the sort. It's just to let your own computer know which boards it needs to seek contents for. If Aether did not do that, downloading all available content would quickly overwhelm your computer.</p>

<p><img src="img/boards-annotated.png" alt="" class="tutorial-image"></p>

<p>After you pick your boards, you can go to threads ( <i class="fa fa-bars tutorial-icon"></i> ). You'll see the stuff you just added. If you select something, you'll see the threads sorted by popularity in the middle. There's the usual button to create a thread.</p>

<p>At the top right, you can change how to view the threads.</p>

<p>Click on a thread that seems interesting.</p>

<p><img src="img/threads-annotated.png" alt="" class="tutorial-image"></p>

<p>This should be pretty familiar. Notice the icons at the top right of each single post. Those are upvote, downvote, reply and save.</p>

<p><img src="img/posticons-annotated.png" alt="" class="tutorial-image"></p>

<p>Sounds good? Here's the kicker. Aether relies on <em>your</em> vote to work and reward quality content. There is no other moderation. No moderators, no admins, nothing.</p>

<p>You should vote. You're the editor. Create an Aether you want to see!</p>

<p>Save button saves the post to your drive. You should do this for the stuff you want to keep. You can export stuff from there ( <i class="fa fa-floppy-o tutorial-icon"></i> ) as plain text files.</p>

<p>Reply should be self evident. One gotcha, if you move to a different page from reply screen while writing, whatever you write will disappear.</p>

<p>When people reply to your posts, you'll receive notifications. The message button ( <i class="fa fa-envelope tutorial-icon"></i> ) will light up in that case.</p>

<p>Home ( <i class="fa fa-home tutorial-icon"></i> ) is your 'front page'. This lists a bunch of most popular posts on Aether, and headlines from the stuff you are watching.</p>

<p>Unless you elect to not do so, Aether will stay at your taskbar as long as your computer is open. This allows Aether to keep keep content fresh for you.</p>

<p>You can change your name whenever you want on the profile page ( <i class="fa fa-user tutorial-icon"></i> ). Don't worry, even if you change your name, you will still get notifications from posts you wrote under a different name. This information is saved locally, so nobody else knows. A future version of Aether will bring the option to not save it.</p>

<p>Free to look around, and <a href="mailto:burak@nehbit.net">let me know</a> where you get stuck at.</p>
<br><br>
    </div>
</div>