<div id="find-or-create-topic-feed" ng-controller="FindOrCreateTopicController">
    <div class="subject-intro-box">
        <span id="subject-header">Boards</span>
        <div class="explanation">
             Select the boards you want to subscribe to. After selecting them heYou can access them from ‘Threads’ ( <i class="fa fa-bars"></i> ) to the left.
        </div>
        <div class="topic-search">
            <span class="secondary-header" ng-show="countsAvailable">SEARCH TOPICS</span>
            <input id="topic-search-box" type="text" ng-model="topicSearchBoxText" ng-change="filterByBoxText()" ng-show="countsAvailable">
        </div>
    </div>
    <div class="topic-boxes-holder" ng-show="allAvailableTopics && countsAvailable">
        <div class="topic-box" ng-repeat="topic in allAvailableTopics"
        ng-click="toggleAdditionToSelectedTopics(topic.PostFingerprint)"
        ng-class="{'currently-selected': isCurrentlySelected(topic.PostFingerprint)}">
            <span class="topic-name">{{topic.Subject}}</span>
            <span class="topic-count">{{topic.ReplyCount - 1 | positiveNumber }}</span>
            <!-- <span class="topic-count-meta">Avg. subjects per Month</span> -->
        </div>
        <div class="topic-box add-topic-box" ng-click="showCreateFields()" ng-class="{'frozen': createFieldsActive}">
            <span>+</span>
            <div class="topic-name-entry"
            contenteditable="plaintext-only"
            ng-show="createFieldsActive"
            ng-model="postText">
            </div>
            <div class="topic-create-button"
            ng-class="{'disabled':postButtonDisabled}"
            ng-click="postButtonDisabled || createTopic()"
            ng-show="createFieldsActive">
                CREATE
            </div>
            <div class="topic-letter-remaining" ng-show="createFieldsActive">
                {{60 - topicLetterCount | positiveNumber}}
            </div>
        </div>
    </div>
    <div class="waiting-spinner" ng-hide="allAvailableTopics && countsAvailable">
        <img src="img/aether-logo.svg" class="aether-logo-main" alt="">
        <span class="loading-text">
            <em>Please wait</em><br>
            Aether is still finishing the first sync.<br>
            You'll see available boards here in a few minutes.<br>
            It might take longer if you have a slower connection.
        </span>
    </div>
</div>








