<div id="saved-items-feed" ng-controller="SavedItemsController">
    <div class="subject-intro-box">
        <span id="subject-header" class="saved-items-feed-header">Saved Items</span>
        <div class="export-button" ng-click="exportAllPostsClick()">
            EXPORT ALL TO COMPUTER
        </div>
        <div class="mark-all-as-read-button" ng-click="cleanAllSavedItems()" ng-show="alreadySaved">
            CLEAN ALL
        </div>
    </div>

    <div id="subjects-item-container">
        <div class="subjects-listing-box-css-column clearfix"
                ng-style="secondFrameColumnCountStyle">
            <div ng-repeat="post in savedPosts"
            ng-include="'contentBlocks/postBox.html'">
            </div>
        </div>
        <div id="footer">
            <img src="img/aethersign.icon.slimmer.colored.svg" alt="" id="aether-footer-brand">
        </div>
    </div>
</div>