<div id="unregistered-user-profile" ng-controller="UnregisteredUserProfileController">
     <div class="subject-intro-box">
        <span id="subject-header">Your Profile</span>
    </div>
    <div class="identity-pane">
        <div class="left-column">
            <div class="settings-h2">
                Username
            </div>
            <input class="username-entry" maxlength="25" ng-model="userProfile.UserDetails.Username">
            </input>
            <div class="settings-text">
                <p>Hello, {{ userProfile.UserDetails.Username }}!</p>
                <p>You're an <em>unregistered user</em>, which means you are anonymous.</p>
                <p>You can pick anything you want. You can also change it any time. Names are not unique; someone else can take the same name as you.</p>
                <p>This also means you should not trust other users, as they might or might not be the people they say they are.</p>
                <p>You cannot edit or delete what you write, and it only goes away after 6 months. Be careful of what you say if you use a name indicative of your person.</p>
            </div>
        </div>
        <div class="right-column">
            <div class="settings-h2">
                Your posts
            </div>
            <div ng-repeat="post in feed"
            ng-include="decideNgInclude(post.Subject)">
            </div>
        </div>
    </div>


</div>
