<div id="subjects-feed" ng-controller="UserProfileController">
    <div class="user-profile-box">
        <div id="profile-details">
            <div id="profile-image">
                <img src="img/avatar.jpg" alt="">
            </div>
            <div id="user-text-details">
                <div id="user-name">
                    <img src="img/aethersign.icon.slimmer.svg" alt="" class="header-aether-sign">burak
                </div>
                <div id="real-name">
                    Burak Nehbit
                </div>
                <div id="tertiary-details">
                    <div class="half-capsule">
                        <span class="meta">Following</span> 141
                    </div>
                    <div class="half-capsule">
                        <span class="meta">Followers</span> 1817
                    </div>
                    <div class="full-capsule">
                        burak@nehbit.net
                    </div>
                    <div class="full-capsule">
                        www.nehbit.net
                    </div>
                    <div class="rest-capsule">
                        burak is a designer / developer cross breeding attempt gone horribly wrong.
                    </div>
                </div>
                <div id="copyright-info">
                    aether v0.17 Alpha &copy;2013
                </div>
            </div>
        </div>
    </div>
    <div id="profile-item-container">
        <div class="user-post-item">
            <div class="item-body">
                Lorem ipsum proident nulla deserunt qui nostrud officia consequat commodo eu proident nisi dolore nisi irure id ad. Lorem ipsum amet dolore dolore labore in adipisicing eu commodo laboris in magna id. Lorem ipsum ullamco culpa eiusmod veniam Excepteur esse cillum commodo sunt occaecat in. Lorem ipsum ut ut dolor elit laboris sed cupidatat nulla nisi.
            </div>
            <div class="item-meta">
                <div class="counters">
                    <i class="icon-arrow-up upvote-counter-icon">
                    </i>
                    67&nbsp;&nbsp;
                    <i class="icon-comment comment-icon">
                    </i>
                    21
                </div>
                <div class="date">
                    March 18, 2013
                </div>
                <div class="subject">
                    Cyprus bailout: 'people are panicking, they're afraid of losing their money'
                </div>
                <div class="buttons">
                    <div class="fetch">
                        <i class="icon-search">
                    </i> Fetch
                    </div>
                </div>
            </div>
        </div>
        <div class="user-subject-item">
            <div class="item-header">
                Introducing aether: an elegant weapon for a more civilised age.
            </div>
            <div class="item-meta">
                <div class="counters">
                    <i class="icon-arrow-up upvote-counter-icon">
                    </i>
                    168&nbsp;&nbsp;
                    <i class="icon-comment comment-icon">
                    </i>
                    85
                </div>
                <div class="date">
                    March 17, 2013
                </div>
                <div class="topic">
                    startups
                </div>
                <div class="buttons">
                    <div class="fetch">
                        <i class="icon-search">
                    </i> Fetch
                    </div>
                </div>
            </div>
        </div>
        <div id="footer">
            <img src="img/aethersign.icon.slimmer.dark.svg" alt="" id="aether-footer-brand">
        </div>
    </div>

</div>

