<!DOCTYPE html>
<html ng-app="aether" >
    <head>
        <title>
            Aether
        </title>
        <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body id="root-body" ng-style="viewportStyle">
        <div id="first-frame" ng-style="firstFrameCSSStyle">
            <div id="first-frame-contents" ng-controller="FirstFrameController" ng-class="{'show-onboarding': !onboardingComplete}">
                <div class="normalButtons" ng-show="onboardingComplete">

                  <button id="home-button" title="Home"
                  ng-class="{'selected': currentApplicationRegion == 'Home'}"
                  ng-click="homeButtonClick()">
                      <i class="fa fa-home fa-2x" id="home-icon">
                      </i>
                  </button>
                  <button id="profile-button" title="Profile"
                  ng-class="{'selected': currentApplicationRegion == 'Profile'}"
                  ng-click="profileButtonClick()">
                      <i class="fa fa-user fa-2x" id="profile-icon">
                      </i>
                  </button>
                  <button id="threads-button" title="Threads"
                  ng-class="{'selected': currentApplicationRegion == 'Details'}"
                  ng-click="threadsButtonClick()">
                      <i class="fa fa-bars fa-2x" id="threads-icon">
                      </i>
                  </button>
                    <button id="topics-button" title="Boards"
                  ng-class="{'selected': currentApplicationRegion == 'Topics'}"
                  ng-click="topicsButtonClick()">
                      <i class="fa fa-th-large fa-2x" id="topics-icon">
                      </i>
                  </button>
                  <button id="replies-button" title="Replies"
                  ng-class="{'selected': currentApplicationRegion == 'Replies'}"
                  ng-click="repliesButtonClick()">
                      <i class="fa fa-2x" id="replies-icon" ng-class="{'fa-envelope replies-icon-lightup': totalReplyCount, 'fa-envelope-o': !totalReplyCount }">
                      </i>
                  </button>
                  <button id="saved-items-button" title="Saved Items"
                  ng-class="{'selected': currentApplicationRegion == 'SavedItems'}"
                  ng-click="savedItemsButtonClick()">
                      <i class="fa fa-floppy-o fa-2x" id="saved-items-icon">
                      </i>
                  </button>
                  <button id="settings-button" title="Settings"
                  ng-class="{'selected': currentApplicationRegion == 'Settings'}"
                  ng-click="settingsButtonClick()">
                      <i class="fa fa-cog fa-2x" id="settings-icon">
                      </i>
                  </button>


                  <div id="branding"
                  title="&ldquo;If liberty means anything at all, it means the right to tell people what they do not want to hear. &rdquo; &mdash; George Orwell">
                      <img src="img/aethersign.icon.slimmer.white.svg" alt="" id="aether-brand">
                  </div>
                </div>
                <div class="onboarding" ng-class="{'show-onboarding': !onboardingComplete}">
                  <div class="onboarding-checkpoint" ng-class="{'lightup': currentStateNumber > 1}"></div>
                  <div class="onboarding-connector-line" ng-class="{'lightup': currentStateNumber > 1}"></div>
                  <div class="onboarding-checkpoint" ng-class="{'lightup': currentStateNumber > 1}"></div>
                  <div class="onboarding-connector-line" ng-class="{'lightup': currentStateNumber > 2}"></div>
                  <div class="onboarding-checkpoint" ng-class="{'lightup': currentStateNumber > 2}"></div>
                  <div class="onboarding-connector-line" ng-class="{'lightup': currentStateNumber > 3}"></div>
                  <div class="onboarding-checkpoint" ng-class="{'lightup': currentStateNumber > 3}"></div>
                  <div class="onboarding-connector-line" ng-class="{'lightup': currentStateNumber > 4}"></div>
                  <div class="onboarding-checkpoint" ng-class="{'lightup': currentStateNumber > 4}"></div>
                  <div class="onboarding-connector-line" ng-class="{'lightup': currentStateNumber > 5}"></div>
                  <div class="onboarding-checkpoint" ng-class="{'lightup': currentStateNumber > 5}"></div>
                  <div class="onboarding-connector-line"></div>
                  <div id="branding"
                  title="&ldquo;If liberty means anything at all, it means the right to tell people what they do not want to hear. &rdquo; &mdash; George Orwell">
                      <img src="img/aethersign.icon.slimmer.white.svg" alt="" id="aether-brand" ng-class="{'show-onboarding': !onboardingComplete}">
                  </div>
                </div>
            </div>
        </div>
        <div id="second-frame" ng-style="secondFrameCSSStyle">
            <div id="scroll-target-second-frame"></div>
            <div id="second-frame-contents" ng-controller="SecondFrameController">
                <ng-include src="selectedTemplate.url"></ng-include>
            </div>
        </div>
        <div id="third-frame" ng-style="thirdFrameCSSStyle">
            <div id="scroll-target-third-frame"></div>
            <div id="third-frame-contents" ng-controller="ThirdFrameController">
                <ng-include src="selectedTemplate.url"></ng-include>
            </div>
        </div>
          <!-- Requirements -->
          <script src="js/angular.min.js"></script>
          <!-- Angular Bootstrappers & Small modules -->
          <script src="js/app.js"></script>
          <script src="js/filters.js"></script>
          <script src="js/directives.js"></script>
          <!-- Controllers -->
          <script src="js/controllers/frameControllers.js"></script>
          <script src="js/controllers/createLiteController.js"></script>
          <script src="js/controllers/homeController.js"></script>
          <script src="js/controllers/postsController.js"></script>
          <script src="js/controllers/subjectsController.js"></script>
          <script src="js/controllers/subjectsLiteController.js"></script>
          <script src="js/controllers/topicsController.js"></script>
          <script src="js/controllers/userProfileController.js"></script>
          <script src="js/controllers/createSubjectController.js"></script>
          <script src="js/controllers/findOrCreateTopicController.js"></script>
          <script src="js/controllers/settingsController.js"></script>
          <script src="js/controllers/savedItemsController.js"></script>
          <script src="js/controllers/singlePostController.js"></script>
          <script src="js/controllers/repliesController.js"></script>
          <script src="js/controllers/unregisteredUserFeed.js"></script>
          <script src="js/controllers/onboardingController.js"></script>
          <script src="js/controllers/unregisteredUserProfileController.js"></script>
          <!-- Services -->
          <script src="js/services/broadcastServices.js"></script>
          <script src="js/services/gateService.js"></script>
          <script src="js/services/gateReaderServices.js"></script>
          <!-- External Dependencies -->
          <script src="js/cld-min.js"></script>
          <!--<script src="js/mousetrap.min.js"></script> This could be useful later...-->
    </body>
</html>