@import "./markdowned.scss";
//

/* Colour Scheme. */

// Mind that the greys are actually not fully neutral grey, they have their own colour skew.
// Darkest (~black)
$a-grey-100: #1B2B34;
$a-grey-200: #343D46;
$a-grey-300: #4F5B66;
$a-grey-400: #65737E;
$a-grey-500: #A7ADBA;
$a-grey-600: #C0C5CE;
$a-grey-700: #CDD3DE;
$a-grey-800: #D8DEE9; // Lightest (~white)

/*  */

// Rainbow
// $a-red: #EC5f67;
$a-red: #EC5f67;
$a-orange: #F99157;
$a-yellow: #FAC863;
$a-green: #99C794;
$a-turquoise: #5FB3B3; // ~teal
$a-cerulean: #6699CC; // ~blue
$a-purple: #C594C5;
$a-earth: #AB7967; // ~brown
// Translucent versions
$a-cerulean-15: rgba(102, 153, 204, 0.15);
$a-cerulean-20: rgba(102, 153, 204, 0.20);
$a-cerulean-30: rgba(102, 153, 204, 0.30);
$a-cerulean-40: rgba(102, 153, 204, 0.40);
$a-cerulean-50: rgba(102, 153, 204, 0.50);
$a-cerulean-60: rgba(102, 153, 204, 0.60);
$a-cerulean-70: rgba(102, 153, 204, 0.70);
$a-cerulean-80: rgba(102, 153, 204, 0.80);
$a-cerulean-90: rgba(102, 153, 204, 0.90);
$a-cerulean-100:$a-cerulean;
$a-transparent: rgba(255, 255, 255, 0);

$a-red-20: rgba(236, 95, 103, 0.20);
$a-red-30: rgba(236, 95, 103, 0.30);
$a-red-40: rgba(236, 95, 103, 0.40);
$a-red-50: rgba(236, 95, 103, 0.50);
$a-red-60: rgba(236, 95, 103, 0.60);
$a-red-70: rgba(236, 95, 103, 0.70);
$a-red-80: rgba(236, 95, 103, 0.80);
$a-red-90: rgba(236, 95, 103, 0.90);
$a-red-100:$a-red;

$a-purple-80: rgba(197, 148, 201, 0.8);
$a-earth-80: rgba(171, 121, 103, 0.8);
//

/* Separators */

$line-separator-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
$line-separator-shadow-castleft: -2px 0 2px -2px rgba(0, 0, 0, 0.40);
$line-separator-shadow-castleft-light: -2px 0 2px -2px rgba(0, 0, 0, 0.05);
$line-separator-shadow-white: 0 6px 4px -6px rgba(255, 255, 255, 0.35);
$line-separator-shadow-v2: 0 6px 4px -6px rgba(0, 0, 0, 0.55); // this comment line is to prevent JS beautify from walking whatever comes down under at every save. What does this mean? Remove this line and save on Sublime, you'll see what I mean.

/* Background colors */

$dark-base: $a-grey-100; // $mid-base:$a-grey-200;
$mid-base:#36393E*0.75;
// $mid-base:$a-grey-100*1.2;
$light-base: $a-grey-300;
$dropdown-base: $mid-base *0.55;
$dropdown-divider-color: $dropdown-base * 2;
$top-bar-height: 38px;
// $sidebar-width: 14.5%;
$sidebar-width: 240px;
// $max-sidebar-width: $sidebar-width;
// $min-sidebar-width: $sidebar-width;
// $max-sidebar-width: 240px;
// $min-sidebar-width: 240px;
$link-hover-ghost-extension-length: 5px;

%link-hover-ghost-extenders-disable {
  &::before,
  &::after {
    position: static;
    width: 0;
    height: 0;
    display: none;
  } // color:inherit;
}

@mixin generateScrollbar($scrollbarColour) {
   ::-webkit-scrollbar {
    width: 10px;
  }

   ::-webkit-scrollbar-track {
    // background: transparent;
    // background-color: transparent;
    background-color: $scrollbarColour;
  }

   ::-webkit-scrollbar * {
    background: transparent;
  }

   ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.33);
    border-radius: 10px;
    border: 3px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
  }

   ::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
  }

   ::-webkit-scrollbar-corner {
    background-color: transparent;
  }
}

code {
  font-size: 120%;
  font-weight: bold;
}

@mixin lineClamp($numberOfLines) {
  -webkit-line-clamp: $numberOfLines;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}