/*----------  Source Sans Pro  ----------*/

@font-face {
  font-family: 'SSP Light';
  src: url('../ext_dep/typefaces/Source_Sans_Pro/SourceSansPro-Light.ttf');
  font-weight: 200;
  font-variant: normal;
}

@font-face {
  font-family: 'SSP Light Italic';
  src: url('../ext_dep/typefaces/Source_Sans_Pro/SourceSansPro-LightItalic.ttf');
  font-weight: 200;
  font-variant: italic;
}

@font-face {
  font-family: 'SSP Regular';
  src: url('../ext_dep/typefaces/Source_Sans_Pro/SourceSansPro-Regular.ttf');
  font-weight: 400;
  font-variant: normal;
}

@font-face {
  font-family: 'SSP Regular Italic';
  src: url('../ext_dep/typefaces/Source_Sans_Pro/SourceSansPro-Italic.ttf');
  font-weight: 400;
  font-variant: italic;
}

@font-face {
  font-family: 'SSP Semibold';
  src: url('../ext_dep/typefaces/Source_Sans_Pro/SourceSansPro-Semibold.ttf');
  font-weight: 500;
  font-variant: normal;
}

@font-face {
  font-family: 'SSP Semibold Italic';
  src: url('../ext_dep/typefaces/Source_Sans_Pro/SourceSansPro-SemiboldItalic.ttf');
  font-weight: 500;
  font-variant: italic;
}

@font-face {
  font-family: 'SSP Bold';
  src: url('../ext_dep/typefaces/Source_Sans_Pro/SourceSansPro-Bold.ttf');
  font-weight: 600;
  font-variant: normal;
}

@font-face {
  font-family: 'SSP Bold Italic';
  src: url('../ext_dep/typefaces/Source_Sans_Pro/SourceSansPro-BoldItalic.ttf');
  font-weight: 600;
  font-variant: italic;
}

@font-face {
  font-family: 'SSP Black';
  src: url('../ext_dep/typefaces/Source_Sans_Pro/SourceSansPro-Black.ttf');
  font-weight: 800;
  font-variant: normal;
}

@font-face {
  font-family: 'SSP Black Italic';
  src: url('../ext_dep/typefaces/Source_Sans_Pro/SourceSansPro-BlackItalic.ttf');
  font-weight: 800;
  font-variant: italic;
}
/*----------  Source Code Pro  ----------*/

@font-face {
  font-family: 'SCP ExtraLight';
  src: url('../ext_dep/typefaces/Source_Code_Pro/SourceCodePro-ExtraLight.ttf');
  font-weight: 200;
  font-variant: normal;
}

@font-face {
  font-family: 'SCP Light';
  src: url('../ext_dep/typefaces/Source_Code_Pro/SourceCodePro-Light.ttf');
  font-weight: 300;
  font-variant: normal;
}

@font-face {
  font-family: 'SCP Regular';
  src: url('../ext_dep/typefaces/Source_Code_Pro/SourceCodePro-Regular.ttf');
  font-weight: 400;
  font-variant: normal;
}

@font-face {
  font-family: 'SCP Regular';
  src: url('../ext_dep/typefaces/Source_Code_Pro/SourceCodePro-Medium.ttf');
  font-weight: 500;
  font-variant: normal;
}

@font-face {
  font-family: 'SCP Semibold';
  src: url('../ext_dep/typefaces/Source_Code_Pro/SourceCodePro-Semibold.ttf');
  font-weight: 600;
  font-variant: normal;
}

@font-face {
  font-family: 'SCP Bold';
  src: url('../ext_dep/typefaces/Source_Code_Pro/SourceCodePro-Bold.ttf');
  font-weight: 700;
  font-variant: normal;
}

@font-face {
  font-family: 'SCP Black';
  src: url('../ext_dep/typefaces/Source_Code_Pro/SourceCodePro-Black.ttf');
  font-weight: 800;
  font-variant: normal;
}
