<!-- I need an angular directive checking the comment level and applying the approp-
riate level conditionally here. -->
<div class="comment depth-{{ post.Depth }}">
    <div class="overline"></div>
    <div class="counters">
        <i class="icon-arrow-up upvote-counter-icon">
        </i>
        {{ post.UpvoteCount - post.DownvoteCount }}&nbsp;&nbsp;
        <i class="icon-comment comment-icon">
        </i>
        {{ post.ReplyCount }}
    </div>
    <span class="comment-owner" ng-click="clickToUsername(post.OwnerUsername)">
        <img src="img/aethersign.icon.slimmer.svg" alt="" class="header-aether-sign">
        <div class="owner-name">{{ post.OwnerUsername }}</div>
    </span>
    <span class="comment-datetime">
        <!-- A better way to represent this would be relative times. (13 seconds
        ago etc.) -->
        {{ post.CreationDate + '000' | date:'MMMM d EEEE, H:mm' }}
    </span>
    <div class="hide-switch" ng-click="toggleThreadCollapse()">
        <i class="icon-caret-down hide-icon">
        </i>
    </div>
    <div class="text" ng-bind="post.Body">
        <!-- This is very likely a HORRIBLE idea, so fix this -->
    </div>
    <div class="meta">
        <i class="icon-arrow-up upvote-icon"
        ng-click="upvotePost(post.PostFingerprint)"
        ng-class="{'highlighted': post.Upvoted}">
        </i>
        <i class="icon-arrow-down downvote-icon"
        ng-click="downvotePost(post.PostFingerprint)"
        ng-class="{'highlighted': post.Downvoted}">
        </i>
        <i class="icon-bookmark save-icon"
        ng-click="savePost(post.PostFingerprint)"
        ng-class="{'highlighted': post.Saved}">
        </i>
        <!-- <i class="icon-share share-icon">
        </i> -->
        <!-- <i class="icon-eye-close hide-icon"></i> -->
        <i class="icon-reply reply-icon" ng-click="openReplyPane(post.PostFingerprint)">
        </i>
    </div>
</div>